{% extends "layout.html" %}

{% block content %}
<main class="about-section">
    <div class="container">
        <h2>About the Nitra Directory</h2>
        <p>The Nitra Directory is an experimental web application that highlights businesses, activities and more within the greater Nitra area.</p>
        <p>We will be relying on users to share their experiences and details about places and things to do in Nitra, Slovakia - so please join us and share anything that you discover! </p>
    </div>
</main>


{% endblock %}