{% extends "layout.html" %}

{% block content %}
    <main class="hero-section">
        <div class="container">
            <div class="section-content">
                <h2>Discover Whats Around you and happening in Nitra</h2>
                <a href="#" class="btn-primary">Sign Up</a>
                <a href="#" class="btn-secondary">Learn More</a>
            </div>
            <div class="section-device">
                <img src="../static/img/device.png" alt="Device">
            </div>
            <div class="clearfix"></div>
        </div>
    </main>
{% endblock %}